<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/base :: head"></head>


<body>

<div id="wrapper">

    <nav th:replace="common/base :: topNavbar"></nav>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="common/base :: navBar"></div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>History</h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Transaction Identifier</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Reciever</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="transfer : ${transfers}">
                                    <td th:text="${transfer.transactionIdentifier}"></td>
                                    <td th:text="${transfer.date}"></td>
                                    <td th:text="${transfer.amount}"></td>
                                    <td th:text="${transfer.reciever}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="common/base :: foot"></div>
    </div>
</div>

</body>

</html>
